.custom-input {
    display: inline-flex;
  }
  
  .image-input {
    height: 100px;
    background-color: #e0e0e0;
    border: 0.5px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      display: none;
    }
    .image-button {
      display: block;
      color: #fff;
      background: #89b4fa;
      padding: 0.3rem 0.6rem;
      font-size: 115%;
      cursor: pointer;
      &.hide {
        display: none;
      }
    }
    .change-image {
      cursor: pointer;
      color: #89b4fa;
      padding: 10px;
    }
    .image-preview-box {
      display: flex;
      align-items: center;
      justify-self: center;
    }
    .image-preview {
      max-width: 100px;
      max-height: 100px;
      padding: 5px 0;
    }
  }