<div class="layout-topbar shadow-4">
    <div class="layout-topbar-left">
        <a class="layout-topbar-logo" routerLink="/">
            <img
                id="app-logo"
                src="assets/images/kalantak_logo.png"
                alt=""
                style="height: 2.25rem"
            />
        </a>

        <a
            class="layout-menu-button shadow-6"
            (click)="appMain.onMenuButtonClick($event)"
            pRipple
        >
            <i class="pi pi-chevron-right"></i>
        </a>

        <a
            class="layout-topbar-mobile-button"
            (click)="appMain.onTopbarMobileButtonClick($event)"
            pRipple
        >
            <i class="pi pi-ellipsis-v fs-large"></i>
        </a>
    </div>

    <div
        class="layout-topbar-right"
        [ngClass]="{
            'layout-topbar-mobile-active': appMain.mobileTopbarActive
        }"
    >
        <div class="layout-topbar-actions-left">
            <p-megaMenu
                [model]="model"
                styleClass="layout-megamenu"
            ></p-megaMenu>
        </div>
        <div class="layout-topbar-actions-right">
            <ul class="layout-topbar-items">
                <li class="layout-topbar-item">
                    <a
                        class="layout-topbar-action flex flex-row justify-content-center align-items-center px-2 rounded-circle"
                        (click)="appMain.onTopbarItemClick($event, 'profile')"
                        pRipple
                    >
                        <i class="pi pi-user fs-large"></i>
                    </a>
                    <ul
                        class="layout-topbar-action-panel shadow-6"
                        [@topbarActionPanelAnimation]="'visible'"
                        *ngIf="appMain.activeTopbarItem === 'profile'"
                    >
                        <li class="layout-topbar-action-item">
                            <a class="flex flex-row align-items-center" pRipple>
                                <i
                                    class="pi pi-cog"
                                    [ngClass]="{
                                        'mr-2': !app.isRTL,
                                        'ml-2': app.isRTL
                                    }"
                                ></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="layout-topbar-action-item">
                            <a
                                class="flex flex-row align-items-center"
                                pRipple
                                (click)="appMain.logOut()"
                            >
                                <i
                                    class="pi pi-power-off"
                                    [ngClass]="{
                                        'mr-2': !app.isRTL,
                                        'ml-2': app.isRTL
                                    }"
                                ></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
